body {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: [sidebar-start] 1fr [main-start] 1fr 1fr [main-end]; */
  grid-template-columns: repeat(3fr, 1fr);
  grid-auto-rows: 200px;
  grid-template-areas: "sidebar-top main main"
                       "sidebar-bottom main main";
}

.card {
  background-color: #707B96;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  display: flex;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.card:nth-child(odd) {
  background-color: #703F78;
}

.card:nth-of-type(1) {
    /* grid-column-start: 2;
    grid-column-end: 4;  */
    /* grid-column: 2 / 4;  */
    /* grid-row-start: 1;
    grid-row-end: 3;  */
    /* grid-row: 1 / 3;  */
    /* grid-area: 1 / 2 / 3 / 4 */ 
    /* grid-area: 1 / main-start / 3 / main-end; semantic */
    grid-area: main;

}