@import 'https://fonts.googleapis.com/css?family=Raleway:400,300,600';
@import 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css';
@import 'https://codepen.io/rachelandrew/pen/2e542701bf795240604e2b50b3bcf376.css';

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-gap: 1rem 2rem;
  grid-template-areas: 
  "header"
  "sidebar"
  "content"
  "footer";
}

/* .content {
  padding-top: 2rem;
} */

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

main {
  grid-area: content;
}

@media screen and (min-width: 700px) {
  .wrapper {
      grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer"       
  }
}

.content {
  padding-top: 0;
}
